@page "/gardening/adjacent"
@inject NavigationManager Navigation

<div class="mt-header">
    <h3>Welcome to the Gardening Adjacent Q&A!</h3>

<input type="button" value="Create Post" @onclick="() => CreatePost()" />
<table class="table table-hover" id="forumIndexTable">
    <tr>
        <th></th>
        <th>Title</th>
        <th>Post</th>
        <th>Post Created On</th>
        <th>Posted By</th>
    </tr>
    <tbody>
        @foreach (HPCProjectTemplate.Shared.Posts post in Posts)
        {
            <tr>
                <td>
                    @post.ImageUrl
                </td>
                <td>
                    @post.Title
                </td>
                <td>
                    @post.Content
                </td>
                <td>
                    @post.Created
                </td>
                <td>
                    @post.UserName
                </td>
                <td>
                    <input type="button" value="Reply" @onclick="() => Reply(post.Id, post.Title, post.Content)" />
                </td>
            </tr>
        }
    </tbody>
</table>
</div>


@code {
    private void Reply(int id, string title, string content)
    {
        string reply = "Re: " + title + " - " + content;
        Navigation.NavigateTo($"/reply/{id}/{reply}");
    }
    private void CreatePost()
    {
        Navigation.NavigateTo("/create/post");
    }

}
