@using HPCProjectTemplate.Shared;

@if (Plant is not null)
{
    <li>
        <img src="@Plant.default_image.thumbnail">   @Plant.common_name: @Plant.sunlight[0], @Plant.watering, @Plant.care_level
    </li>
}

@code {
    [Parameter]
    public PerenualPlantResponse? Plant { get; set; } = null;
}
