@page "/products"

<div class="mt-header">
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Products</h2>
          <p>Below you will find all the products and brands we currently offer. Click the link to purchase and help support our app!</p>
        </div>




            <div class="row portfolio-container">
            
                @foreach (var product in products)
                {
                        <div class="col-lg-4 col-md-6 portfolio-item">
                        <div class="portfolio-img"><img src="@product.image2" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>@product.name</h4>
                            <p>@product.brand</p>
                            <a href="@product.link" target="_blank" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Price">@String.Format("{0:C}", product.price)</a>
                            <a href="@product.link" target="_blank" class="details-link" title="Link"><i class="bx bx-link"></i></a>
                        </div>
                        </div>
                }

                </div>

        </div>
    </section>
</div>