@page "/plant-details"
@page "/plant-details/{plantId}"

@if (isLoading)
{
    <p>Loading ...</p>
}
else
{
<h3>Plant Details for @plant.common_name </h3>

<div>
    <img src="@plant.default_image.thumbnail" /> 
    <p>@plant.description</p>
    <p>Sunlight care: @sunCareGuide</p>
    <p>Watering care: @waterCareGuide</p>
    <p>The image below highlights regions where this plant thrives:</p>
    <iframe frameborder=0 scrolling=yes seamless=seamless width="100%" height=550 style='margin:auto;' src='@plant.hardiness_location.full_url'></iframe>
    
</div>

@if (isFavorite)
{
    <p>This is a favorite</p>
    
    <input type="button" class="btn btn-primary" @onclick="() => RemovePlant(plant.id.ToString())" value="Remove from favorites"></input>
    
}else{
    <p>This is not a favorite</p>
   
    <input type="button" class="btn btn-primary" @onclick="() => AddFavorite(plant.id.ToString())" value="Add to favorites"></input> 
    
   
}

}



